<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/demo.css">

    <title>Purchase Success</title>
</head>
<body>
    <div class="container">

        <h1 class = "name">Thank you for your purchase!</h1>

        <nav class="bar">
            <ul class="links">
                <li class="link"><a href="http://localhost:8080">Home</a></li>
            </ul>
        </nav>

        <hr class="Break">

        <div class="purchase">
            <img src="/images/heart.jpg" alt="brick heart" class="heart">
            <h1 class="successMessage">Purchase Successful!</h1>
            <h2 class="thanks">We hope to see you again!</h2>
            <a href="http://localhost:8080" class="home">Return to home</a>
        </div>

    </div>

</body>
</html>